
.container{
    background-color: violet;
    /* display: flex;  */
    padding: 20px;
    border-radius: 10px;
    width: 680px;
    top: 50%;
    left: 50%;
    margin-left: 900px;
   
}
.button{
    display: flex;
    text-align: center;
    margin-left: 70px;
    
}

#btns,#btnp,#btnr
{
    text-align: center;
    border: none;
    margin: 10px;
    border-radius: 10px;
    font-size: 25px;
    padding: 20px;
    margin-right: 70px;
    margin-left: 10px;
    
}

#btns:hover,#btnp:hover,#btnr:hover{
    background-color: yellow;
    
}
.txt
{
    text-align: center;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    
    font-size: 60px;
}

div >span{
    font-size: 80px;
}
#title
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}