*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: absolute;
    padding-left: 400px;
    top: 150px;
    left: -50px;
}

#one:hover{
    background-color: yellow;
}
#one{
    border: none;
    padding: 10px;
}
#btn
{
    position: relative;
    border-radius: 5px;
    left: 400px;
    top: -70px;
    
    padding: 12px;
    font-size: 25px;
    color: rgb(215, 224, 224) ;
    background-color: rgb(143, 165, 165);
    border: none;
}
#btn:hover{
    background-color:rgb(215, 224, 224) ;
    color: rgb(67, 78, 78);
}
#btnn
{
    position: relative;
    border-radius: 5px;
    left: 400px;
    top: -70px;
    padding: 12px;
    font-size: 25px;
    color: rgb(215, 224, 224) ;
    background-color: rgb(143, 165, 165);
    border: none;
}
#btnn:hover{
    background-color:rgb(215, 224, 224) ;
    color: rgb(67, 78, 78);
}

#heading{
    border: 1px solid rgb(189, 180, 180);
    margin: 10px;
    border-radius: 20px;
    height: 70px;
    width: 350px;
    
    align-items: center;
    /* width: 100%; */
    opacity: 100;
    /* border: none; */
    
}
#input
{
    width: 350px;
    height: 50px;
    margin: 10px;
    font-size: 30px;
    position: absolute;
    border-radius: 10px;
    background-color: transparent;
    padding: 12px;
    border: none;
    /* border: 1px solid rgb(189, 180, 180); */
}
.b:hover
{
    background-color: yellow;
    border:none;

}
#title{
    position: absolute;
    padding: 20px;
    left: 550px;
    font-size: 30px;
}


